@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

*{
	font-family: 'Jeju Gothic', cursive;
}
.title{
	text-align: center;
	font-weight: normal;
}

.today{
	font-weight: normal;
}

#calendar {
	border-collapse: collapse;
	background-color: rgb(138, 186, 211);
	border-radius: 25px;
}

#days>th {
	padding-bottom: 20px;
	font-weight: normal;
	color: white;
}

#calendar td {
	width: 80px;
	height: 80px;
	text-align: left;
	vertical-align: top;
	position: relative;
}

a {
	text-decoration: none;
}


#wrap {
	width: 100%;
	margin: 0 10px;
}
#pen{
	width: 20px;
	height: auto;
}
.D-Day {
	float: left;
	width: 20%;
	height: 500px;
	margin: 0 auto;
}

.preList>p {
	font-size: 10px;
	margin: 1px;
	background-color: #ceb6d9;
	border-radius: 25px;
}

.dateNums {
	height: 20px;
	width: 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%; /* may require vendor prefixes */
	color: white;
}

.dateNums:hover {
	cursor: pointer;
}